<html ng-app="RegForm">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js" type="text/javascript"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="register.css" rel="stylesheet">
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="RegForm.js"></script>

</head>
<body>

<div ng-controller="RegController as Reg" >

    <h2>EDC Event Registration : {{Reg.eventData.eventCode}}</h2>
    <!--
    http: Data:[{{Reg.data}}] Status:[{{Reg.status}}] EventCode:{{Reg.eventData.eventCode}}
    Path: {{Reg.eventData.eventPath}}
    -->

    <!-- Show Error Conditions -->

    <!--
    Invalid:{{registerForm.$invalid}}

    <ul ng-show="registerForm.$invalid">
        <li ng-repeat="(key, errors) in registerForm.$error track by $index"> <strong>{{ key }}</strong> errors
            <ul>
                <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
            </ul>
        </li>
    </ul>
    -->

    <div class="alert alert-danger" role="alert" ng-show="Reg.eventData.eventCode=='ERROR'">
        Please return to the EDC website and select a link to the specific event you are registering for.<br/>
        <a href="http://www.earthdrum.com">http://www.earthdrum.com</a>
    </div>


    <form name="registerForm" class="form-horizontal form-small" ng-submit="Reg.SubmitForm(formData)" action="confirm.php" method="post"
          ng-hide="Reg.eventData.eventCode=='ERROR'"
          role="form">

        <input  type="text"  ng-hide="true" name="eventCode" ng-model="Reg.eventData.eventCode">
        <input  type="text"  ng-hide="true" name="eventPath" ng-model="Reg.eventData.eventPath">

        <div class="form-group">
            <label class="col-sm-2 control-label">Event</label>
            <div class="col-sm-10"><input class="form-control input-sm" name="event" type="text" ng-model="Reg.eventData.eventDesc" readonly></div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Cost ($)</label>
            <div class="col-sm-10"><input class="form-control input-sm" name="amountDue" type="text" ng-model="Reg.eventData.amountDue" readonly></div>
        </div>


        <text-field Name="firstName" Label="First Name*" Model="Reg.formData.firstName"></text-field>
        <text-field Name="lastName" Label="Last Name*" Model="Reg.formData.lastName"></text-field>
        <text-field Name="address" Label="Address*" Model="Reg.formData.address"></text-field>
        <text-field Name="city" Label="City*" Model="Reg.formData.city"></text-field>
        <option-field Name="state" Label="State*" Values="Reg.pl.statesList"
                      Model=Reg.formData.state></option-field>
        <text-field Name="zipcode" Label="Zipcode*" Model=Reg.formData.zipcode></text-field>
        <text-field Type="email" Name="email" Label="Email Address*" Model=Reg.formData.email></text-field>
        <text-field Name="phone" Label="Phone*" Model=Reg.formData.phone></text-field>

        <radio-options Name="paymentType" Label="Payment Method*" Values="Reg.pl.paymentOptions" Model=Reg.formData.paymentType></radio-options>

        <div class="form-group">
            <label class="col-sm-2 control-label">&nbsp;</label>
            <div class="col-sm-10">
                <button class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid">Click Here to register</button>
                <button class="btn" type="" ng-click="Reg.ResetPage()">Reset</button>
                <button class="btn" type="Force">Click Here to register</button>
            </div>
        </div>

        <a href="ClearSession.php?EventCode={{Reg.eventData.eventPath}}">[Clear Session]</a>
        <a href="RestoreSession.php?EventCode={{Reg.eventData.eventPath}}">[Restore Session]</a>
    </form>
    <!--
    <div ng-app="RegForm">
        <div ng-controller="RegController as reg">
    </div>
    </div>
    -->

</div>

</body>
</html>
